body{
    background-image: url('../img/background.jpg');
    color: #fff;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.mainContainer, .secondContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    background-color: rgb(76, 75, 68, 0.5);
    width: 20%;
    text-align: center;
    padding: 2em;
    border-radius: 20%;
}

.secondContainer{
    width: 40%;
}
.mainContainer input{
    margin: 0.5em;
}

.secondContainer input{
    margin: 1em;
}

button{
    background-color: #fff;
    color: gray;
    border-radius: 10%;
}